.box{
	width: 200px;
	margin: 0 auto;
	position: relative;
	border: 1px solid transparent;
	perspective: 1000px
}
.box .box-img img{
	transform: rotateY(0);
	transition: all 0.5s ease-in-out 0s;
}
.box:hover .papertrax-img img{
	transform: rotateY(-90deg);
}
.box .papertrax-img img{
	width: 100%
	height: auto;
}
.box .box-content{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 60px 20px;
	border:1px solid red;
	box-sizing: border-box;
	text-align: center;
	color: #fff;
	background: rgba(0,0,0,0.7);
	transform: rotateY(90deg);
}
.box:hover .box-content{
	transform: rotateY(0);
}